
.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.startButton {
    background-color: #4CAF50; /* Green */
    text-decoration: none;
    border: none;
    width: 14rem;
    height: 4rem;
    border-radius: 5rem;
    font-size: larger;
    color: rgb(0, 0, 0);
}
.startButton:hover {
    background-color: #3e8e41;
}
.startButtons {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: auto;
    margin-top: 2rem;
}
.soloButton {
    background-color: #72b3bd;
    text-decoration: none;
    border: none;
    width: 14rem;
    height: 4rem;
    border-radius: 4px;
    font-size: larger;
    color: rgb(0, 0, 0);
}
.soloButton:hover {
    background-color: #568b93;
}
.space {
    height: 10rem;
    background-color: #3e8e41;
}
.footer {
    margin-top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.5rem;
    background-color: transparent;
    display: flex;
    justify-content: right;
    align-items: stretch;
    padding-top: 10px ;
}
.helpButton {
    text-decoration: none;
    border: none;
    width: 6rem;
    height: 5.5rem;
    background-color: transparent;
}
.helpImg {
    width: 100%;
    height: 100%;
}
.helpPopup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50rem;
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 10px;
}
.popupBack {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}